<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chang.entity.articleDao">
    <!---->
    <select id="GetArticle" resultType="article" parameterType="int">
        SELECT user_id,article_id,article_name,article_label,like_num,click_num,DATE FROM article where Audit = 1  ORDER BY DATE ASC LIMIT #{n},6
    </select>
    <!---->
    <select id="GetAllArticle" resultType="articleDate">
        SELECT user_id,article_id,article_name,DATE,Audit FROM article where Audit != -1 ORDER BY DATE ASC
    </select>
    <!---->
    <select id="GetArticleNum" resultType="int">
        SELECT COUNT(*) FROM article WHERE Audit = 1
    </select>
    <!---->
    <select id="GetArticleAllNum" resultType="int">
        SELECT COUNT(*) FROM article
    </select>
    <!---->
    <select id="GetArticleInformation" parameterType="articleDate" resultType="articleDate">
        SELECT user_id,article_id,article_name,article_label,like_num,click_num,date,article FROM article where article_id = #{article_id}
    </select>
    <!---->
    <select id="GetArticleByName" parameterType="String" resultType="article">
        SELECT article_id,article_name,article_label,user_id FROM article WHERE article_name LIKE #{name} LIMIT 3
    </select>
    <!---->
    <select id="GetArticleByLabel" parameterType="String" resultType="article">
        SELECT article_id,article_name,article_label,user_id FROM article WHERE article_label IN(SELECT label_id FROM label WHERE label_name LIKE #{label}) LIMIT 3
    </select>
    <!---->
    <select id="getLabel" parameterType="String" resultType="String">
        SELECT label_id FROM label WHERE label_name LIKE #{Key}
    </select>
    <!--显示单个用户的文章-->
    <select id="GetArticleByUser" resultType="article">
        SELECT user_id,article_id,article_name,article_label,like_num,click_num,DATE FROM article where user_id = #{id} ORDER BY DATE ASC LIMIT #{n},6
    </select>
    <!--显示单个用户的文章数量-->
    <select id="GetArticleNumByUser" resultType="int">
        SELECT count(*) FROM article where user_id = #{id}
    </select>
    <!---->
    <update id="Audit" parameterType="String">
        UPDATE article
        SET Audit = #{audit}
        WHERE article_id = #{id}
    </update>
    <!---->
    <insert id="postArticle" parameterType="articleDate">
        insert into article(user_id,article_id,article_name,article_label,article)
        values(#{user_id},#{article_id},#{article_name},#{article_label},#{article})
    </insert>
    <!---->
    <update id="rewrite" parameterType="articleDate">
        UPDATE article
        SET article_name = #{article_name},article_label = #{article_label} ,article = #{article} , date = now()
        WHERE article_id = #{article_id}
    </update>
    <!---->
    <update id="click" parameterType="String">
        UPDATE article
        SET click_num = click_num + 1
        WHERE article_id = #{id}
    </update>
    <!---->
    <select id="articleByLike" resultType="article">
        SELECT user_id,article_id,article_name,article_label,like_num,click_num,DATE FROM article WHERE Audit = 1 ORDER BY like_num DESC LIMIT 10
    </select>
    <!---->
    <select id="articleByClick" resultType="article">
        SELECT user_id,article_id,article_name,article_label,like_num,click_num,DATE FROM article WHERE Audit = 1 ORDER BY click_num DESC LIMIT 10
    </select>
    <delete id="deleteArticle" parameterType="int">

    </delete>
</mapper>